* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ----- header ----- */

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

/*----- Nav Menu -----*/

.header_wrapper__nav_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 750px;
  padding-left: 50px;
}

.header_wrapper__nav_menu_list_items_links {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.4s ease-in;
}

.header_wrapper__nav_menu_list_items_links:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #ff0000;
  text-decoration: underline;
  padding: 7px 12px;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #000000;
  transition: all 0.5s ease-in;
}

.links_red_color {
  color: #ff0000;
}

.links_red_color:hover {
  color: rgb(255, 2, 221);
}

.header_wrapper__nav_menu-checkbox {
  display: none;
}

.header_img_background {
  height: 600px;
  background: center 30% / 135% 90% no-repeat url("../img/header/bg_img.jpg");
}

/* ----- button ----- */

.button_wrapper {
  position: relative;
  top: 450px;
  left: 50px;
  display: inline-block;
}

.header_bg_button {
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: rgba(255, 2, 72, 0.75);
  border: 1px solid rgba(255, 2, 72, 0.75);
  border-radius: 7px;
  text-transform: uppercase;
  transition: all 0.5s ease-in;
}

.header_bg_button:hover {
  background-color: rgb(255, 2, 221);
  border: 1px solid rgb(255, 2, 221);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
  transform: rotateZ(-15deg);
}

/* ----- dots ----- */

.header_img_slider_dots {
  position: relative;
  top: 440px;
  display: flex;
  justify-content: center;
}

.header_img_slider_dots-dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 3px;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

.header_img_slider_dots-dot:hover {
  opacity: 1;
  background-color: rgba(50, 252, 252, 0.384);
}

/*----- main -----*/

/*----- Our Services. -----*/

.our_services__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our_services__h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.our_services__h3 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.our_services__h3_link {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----- Our services, Content. ----- */

.our_services__content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.our_services__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 25px;
  width: 45%;
}

.content__row-reverse {
  flex-direction: row-reverse;
}

.our_services__content img {
  height: 190px;
  width: auto;
  transition: all 0.5s ease-in;
}

.our_services__content img:hover {
  transform: scale(1.3);
  transition: all 0.7s ease-in;
}

.our_services__content_text_wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.our_services__content_text_1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.our_services__content_text_2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 300;
}

.our_services__content_text_3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.1;
  font-weight: 600;
  padding: 15px 0;
}

.our_services__content_text_4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.1;
  font-weight: 600;
  color: #ff0000;
  text-transform: uppercase;
}

.our_services__content_text_4 a {
  color: #ff0000;
}

/* ----- Main Button ----- */

.our_services_button_wrapper {
  padding: 30px;
}

.main_button {
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.main_button:hover {
  background-color: rgb(255, 2, 221);
  border: 1px solid rgb(255, 2, 221);
  color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}

/*----- V KLINIK. -----*/

.v_klinik__wrapper {
  text-align: center;
  padding-top: 50px;
}

.v_klinik__wrapper h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.v_klinik__wrapper h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.v_klinik__wrapper p {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.v_klinik__security_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.v_klinik__security_img img {
  width: 75%;
}

.v_klinik__security_nav_wrapper {
  width: 50%;
}

.v_klinik__security_nav_wrapper h5 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 10px 0 30px 0;
}

.v_klinik__security_nav_items {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.v_klinik__security_nav_items_mark {
  height: 22px;
  width: 22px;
  padding: 0px 2px 3px 0px;
}

.v_klinik__button_wrapper {
  text-align: center;
  padding: 45px 0 40px 0;
}

/*----- PHOTO CLINICS -----*/

.photo_clinic__wrapper {
  text-align: center;
  padding-top: 50px;
}

.photo_clinic__wrapper h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.photo_clinic__wrapper h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
}

.photo_clinic__wrapper p {
  font-size: 1rem;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.photo_clinic__clinic_photo_wrapper {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.photo_clinic__clinic_photo_img {
  width: 33.3333%;
  transition: all 0.7s ease-in;
}

.photo_clinic__clinic_photo_img:hover {
  transform: scale(1.15);
  transition: all 0.7s ease-in;
}

/*----- Visitors reviews -----*/

.visitors_reviews__wrapper {
  text-align: center;
  padding: 40px 0;
}

.visitors_reviews__wrapper h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.visitors_reviews__wrapper_link {
  font-size: 1rem;
  font-weight: 300;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-serif;
}

.visitors_reviews__reviews {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.visitors_reviews__reviews_img {
  width: 33.3333%;
  transition: all 0.7s ease-in;
}

.visitors_reviews__reviews_img:hover {
  transform: scale(1.15);
  transition: all 0.7s ease-in;
}

/*----- OUR DOCTORS -----*/

.our_doctors__wrapper {
  text-align: center;
  padding: 40px 0;
}

.our_doctors__wrapper h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.our_doctors__wrapper h3 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.our_doctors__wrapper h5 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 20px 0;
}

.our_doctors__wrapper p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.our_doctors__doc_img_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.our_doctors__doc_img_block_wrapper {
  display: flex;
  flex-direction: column;
  width: 24%;
  /*! margin: 0 0 17px 0; */
  height: 30%;
}

.our_doctors__doc_img_block_wrapper img {
  transition: all 0.7s ease-in;
  height: 100%;
  width: 100%;
}

.our_doctors__doc_img_block_wrapper img:hover {
  transform: scale(1.1);
  transition: all 0.7s ease-in;
}

.our_doctors__doc_img_block_wrapper h6 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 0;
}

.our_doctors__doc_img_block_wrapper p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.our_doctors__button_wrapper {
  text-align: center;
  padding-top: 50px;
}

/*----- Partners -----*/

.partners__wrapper {
  text-align: center;
  padding: 80px 0 50px 0;
}

.partners__wrapper h2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.partners__wrapper h3 {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 600;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.partners__wrapper p {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

.partners__wrapper_link {
  color: #ff0000;
  text-decoration: none;
}

.partners__wrapper_link:hover {
  text-decoration: underline;
  text-decoration-color: #15ff00;
}

.partners__logo_block_wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 60px 0;
}

.partners__logo_block_img {
  width: 35%;
}

/*----- Footer -----*/

footer {
  background-color: rgb(0, 0, 0);
}

/*----- footer top -----*/

.footer_top__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 70px 0 30px 0;
}

.footer_top__block_1 p {
  font-size: 0.8rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
}

.footer_top__block_2 a {
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  text-decoration: none;
}

.footer_top__block_2 a:hover {
  color: red;
  text-decoration: underline;
}

.footer_top__block_3 h6 {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

.footer_top__block_3 a {
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  text-decoration: none;
}

.footer_top__block_3 a:hover {
  color: red;
  text-decoration: underline;
}

.footer_top__block_4 a {
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  text-decoration: none;
  text-decoration: uppercase;
}

.footer_top__block_4 a:hover {
  color: red;
  text-decoration: underline;
}

.footer_line {
  border-bottom: 1px solid rgba(202, 202, 202, 0.7);
}

/*----- footer bottom -----*/

.footer_bottom__wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer_bottom__wrapper p {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 5px 0; */
}

.footer_bottom_img_wrapper a img {
  width: 50px;
  padding: 0 5px;
}

/* -----------------------------------------> Tablet (1200px) */
@media screen and (max-width: 1200px) {

  /*----- Check-Box Menu -----*/

  .header_wrapper__nav_menu_list {
    display: none;
  }

  .header_wrapper__nav_menu-checkbox {
    display: block;
    width: 250px;
    background-color: #000;
    position: relative;
    color: #fff;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }

  #check-menu {
    display: none;
  }

  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
    font-size: 1.4rem;
  }

  .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 3px;
    background-color: #fffefe;
    transition: .5s all;
    border-radius: 5px;
  }

  .second,
  .third {
    top: 18px;
  }

  .fourth {
    top: 28px;
  }

  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: .5s all;
  }

  .burger-line_a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, .3);
    background-color: #000;
    border-radius: 10px;
  }

  .burger-line_a:hover {
    background-color: rgba(0, 0, 0, .9);
    text-decoration: underline;
  }

  #check-menu:checked~.main-menu {
    max-height: 500px;
    font-size: 16px;
  }

  #check-menu:checked~.first {
    display: none;
  }

  #check-menu:checked~.second {
    transform: rotate(45deg);
  }

  #check-menu:checked~.third {
    transform: rotate(-45deg);
  }

  #check-menu:checked~.fourth {
    display: none;
  }

  /* end */
}

/* -----------------------------------------> Tablet (1100px) */
@media screen and (max-width: 1100px) {

  /* ----- Our services, Content. ----- */

  .our_services__content_wrapper {
    flex-direction: column;
  }

  .our_services__content {
    padding: 10px 0px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }

  .our_services__content img {
    height: 180px;
  }

  .our_services__content_text_wrapper {
    text-align: center;
  }

  /* end */
}

/* -----------------------------------------> Tablet (900px) */
@media screen and (max-width: 900px) {

  /*----- Nav Menu -----*/

  .header_img_background {
    height: 580px;
    background: center 30% / 160% 90% no-repeat url("../img/header/bg_img.jpg");
  }

  /* end */

  /* ----- Our services, Content. ----- */

  .our_services__content_wrapper {
    flex-direction: column;
  }

  .our_services__content {
    /*! padding: 10px 0px; */
    /*! width: 69%; */
  }

  .our_services__content img {
    height: 160px;
  }

  .our_services__content_text_wrapper {
    text-align: center;
  }

  /* end */

  /*----- V KLINIK. -----*/

  .v_klinik__security_wrapper {
    flex-direction: column;
  }

  .v_klinik__security_img img {
    width: 100%;
  }

  .v_klinik__security_nav_wrapper {
    width: 90%;
    text-align: center;
    padding-top: 15px;
  }

  /* end */

  /*----- PHOTO CLINICS -----*/

  .photo_clinic__clinic_photo_wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .photo_clinic__clinic_photo_img {
    width: 85%;
    height: auto;
    padding: 20px 0;
  }

  /* end */

  /*----- Visitors reviews -----*/

  .visitors_reviews__reviews {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }

  .visitors_reviews__reviews_img {
    width: 70%;
    height: auto;
    padding: 20px 0;
  }

  /* end */

  /*----- OUR DOCTORS -----*/

  .our_doctors__doc_img_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .our_doctors__doc_img_block_wrapper {
    width: 80%;
    margin: 0px;
    text-align: center;
    padding: 20px 0;
  }

  .our_doctors__doc_img_block_wrapper img {
    height: 100%;
    width: 100%;
  }

  .our_doctors__doc_img_block_wrapper h6 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 5px 0;
  }

  .our_doctors__doc_img_block_wrapper p {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 40px 0;
    text-decoration: underline;
  }

  /* end */

  /*----- footer top -----*/

  .footer_top__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 60px 0 0 0;
  }

  .footer_top__block_1 p {
    font-size: 1rem;
    text-align: center;
  }

  .footer_top__block_2 {
    padding: 40px 0;
  }

  .footer_top__block_2 a {
    font-size: 1.5rem;
    line-height: 1.1;
    text-align: center;
  }

  .footer_top__block_3 h6 {
    font-size: 1.5rem;
    text-align: center;
  }

  .footer_top__block_3 a {
    font-size: 1.2rem;
    text-align: center;
  }

  .footer_top__block_4 {
    padding: 40px 0;
  }

  .footer_top__block_4 a {
    text-align: center;
  }

  /* end */
}

/* -----------------------------------------> Tablet (620px) */
@media screen and (max-width: 620px) {

  /* ----- header ----- */

  .header_wrapper {
    flex-direction: column;
  }

  /* end */

  /*----- header -----*/

  .header_wrapper__logo {
    width: 80%;
    height: auto;
    border: 5px solid;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 35px;
    margin: 0 0 40px 0;
  }

  .header_wrapper__logo img {
    width: 100%;
    height: 100%;
  }

  /* end */

  /*----- Check-Box Menu ----*/

  .header_wrapper__nav_menu-checkbox {
    width: 350px;
  }

  /* end */

  /*----- Nav Menu -----*/

  .header_img_background {
    background: 25% 30% / 200% 90% no-repeat url("../img/header/bg_img.jpg");
  }

  .button_wrapper {
    top: 360px;
  }

  /* end */

  /* ----- Our services, Content. ----- */

  .our_services__content img {
    height: 150px;
  }

  .our_services__content_text_1 {
    font-size: 1rem;
    padding-bottom: 10px;
  }

  .our_services__content_text_2 {
    font-size: 0.8rem;
  }

  .our_services__content_text_3 {
    font-size: 1rem;
    padding: 14px 0;
  }

  /* end */

  /* photo */

  .photo_clinic__clinic_photo_img {
    width: 95%;
  }

  .visitors_reviews__reviews_img {
    width: 95%;
  }

  .our_doctors__doc_img_block_wrapper {
    width: 95%;
  }

  /* end */

  /*----- Partners -----*/

  .partners__logo_block_wrapper {
    flex-direction: column;
    padding: 30px 0 80px 0;
    align-items: center;
  }

  .partners__logo_block_img {
    width: 50%;
  }

  /* end */

  /*----- footer bottom -----*/

  .footer_bottom__wrapper {
    padding: 35px 0;
    flex-direction: column;
  }

  .footer_bottom__wrapper p {
    padding: 0 0 35px 0;
  }

  .footer_bottom_img_wrapper a img {
    width: 80px;
    padding: 0 10px;
  }

  /* end */

  .main_button {
    padding: 15px 25px;
    font-size: 1.5rem;
  }
}

/* -----------------------------------------> Tablet (430px) */
@media screen and (max-width: 430px) {

  .main_button {
    font-size: 1rem;
  }

  .header_wrapper__logo {
    width: 90%;
  }

  .header_wrapper__nav_menu-checkbox {
    width: 270px;
  }

  .our_services__h1 {
    font-size: 2.2rem;
  }

  .our_services__content {
    padding: 10px 0px;
    width: 100%;
    flex-direction: column;
  }

  .our_services__content img {
    height: 180px;
  }

  .our_services__content_text_1 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }

  .our_services__content_text_3 {
    font-size: 1.5rem;
  }

  .v_klinik__security_nav_wrapper h5 {
    font-size: 2rem;
  }

  .our_doctors__doc_img_block_wrapper h6 {
    font-size: 1.8rem;
    line-height: 1;
    padding: 20px 0 20px 0;
  }

  .our_doctors__button_wrapper {
    padding-top: 30px;
  }

  .partners__wrapper h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    padding-bottom: 20px;
  }

  .partners__wrapper h2 {
    font-size: 1.7rem;
  }

  .footer_bottom__wrapper p {
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
  }

  .footer_bottom_img_wrapper a img {
    width: 64px;
    padding: 5px 5px 15px 5px;
  }
}