@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/Open_Sans/OpenSans-Bold.eot);
    src: url(../fonts/Open_Sans/OpenSans-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Open_Sans/OpenSans-Bold.woff2) format('woff2'),
        url(../fonts/Open_Sans/OpenSans-Bold.woff) format('woff'),
        url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype'),
        url(../fonts/Open_Sans/OpenSans-Bold.svg#OpenSans-Bold) format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-SemiBold.eot);
    src: url(../fonts/Raleway/Raleway-SemiBold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Raleway/Raleway-SemiBold.woff2) format('woff2'),
        url(../fonts/Raleway/Raleway-SemiBold.woff) format('woff'),
        url(../fonts/Raleway/Raleway-SemiBold.ttf) format('truetype'),
        url(../fonts/Raleway/Raleway-SemiBold.svg#Raleway-SemiBold) format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Regular.eot);
    src: url(../fonts/Raleway/Raleway-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Raleway/Raleway-Regular.woff2) format('woff2'),
        url(../fonts/Raleway/Raleway-Regular.woff) format('woff'),
        url(../fonts/Raleway/Raleway-Regular.ttf) format('truetype'),
        url(../fonts/Raleway/Raleway-Regular.svg#Raleway-Regular) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Bold.eot);
    src: url(../fonts/Raleway/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Raleway/Raleway-Bold.woff2) format('woff2'),
        url(../fonts/Raleway/Raleway-Bold.woff) format('woff'),
        url(../fonts/Raleway/Raleway-Bold.ttf) format('truetype'),
        url(../fonts/Raleway/Raleway-Bold.svg#Raleway-Bold) format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Webdings';
    src: url(../fonts/Webdings/Webdings.eot);
    src: url(../fonts/Webdings/Webdings.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Webdings/Webdings.woff2) format('woff2'),
        url(../fonts/Webdings/Webdings.woff) format('woff'),
        url(../fonts/Webdings/Webdings.ttf) format('truetype'),
        url(../fonts/Webdings/Webdings.svg#Webdings) format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-Light.eot);
    src: url(../fonts/Raleway/Raleway-Light.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Raleway/Raleway-Light.woff2) format('woff2'),
        url(../fonts/Raleway/Raleway-Light.woff) format('woff'),
        url(../fonts/Raleway/Raleway-Light.ttf) format('truetype'),
        url(../fonts/Raleway/Raleway-Light.svg#Raleway-Light) format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cardo';
    src: url(../fonts/Cardo/Cardo-Italic.eot);
    src: url(../fonts/Cardo/Cardo-Italic.eot?#iefix) format('embedded-opentype'),
        url(../fonts/Cardo/Cardo-Italic.woff2) format('woff2'),
        url(../fonts/Cardo/Cardo-Italic.woff) format('woff'),
        url(../fonts/Cardo/Cardo-Italic.ttf) format('truetype'),
        url(../fonts/Cardo/Cardo-Italic.svg#Cardo-Italic) format('svg');
    font-weight: 400;
    font-style: italic;
}